aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.4.0
cfgv==3.3.1
chardet==4.0.0
discord==1.7.3
discord.py==1.7.3
distlib==0.3.4
feedparser==6.0.8
filelock==3.7.0
identify==2.5.0
idna==3.3
multidict==6.0.2
nodeenv==1.6.0
platformdirs==2.5.2
pre-commit==2.19.0
PyYAML==6.0
sgmllib3k==1.0.0
six==1.16.0
toml==0.10.2
typing_extensions==4.2.0
virtualenv==20.14.1
yarl==1.7.2
